@keyframes donut-spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.donut {
  display: block;
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-left-color: rgb(0, 188, 212);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin:auto;
  animation: donut-spin 1.2s linear infinite;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}