.main {
  margin-bottom: 10px;
  min-height: 600px;
}

.main__no-more-articles-message, .main__search-results-message {
  font-family: 'Roboto';
  font-style: italic;
  margin: auto;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

